/* Animasi untuk swipe otomatis */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.marquee {
    display: flex;
    animation: marquee 20s linear infinite;
    width: fit-content;
}

/* Pause animasi saat hover */
.marquee:hover {
    animation-play-state: paused;
}
