/* Animasi untuk swipe otomatis */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.marquee {
    display: flex;
    animation: marquee 20s linear infinite;
    width: fit-content;
}

/* Pause animasi saat hover */
.marquee:hover {
    animation-play-state: paused;
}

.hidden-animated {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100px);
    transition: all 1.5s;
}

.show-animated {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
